<ion-view view-title="Home">
  <ion-content class="padding">
    <div class="list">

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" ng-model="data.title">
        </label>
        <button class="button button-small">
          标题
        </button>
      </div>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" ng-model="data.des">
        </label>
        <button class="button button-small">
          描述
        </button>
      </div>
      

    </div>
  </ion-content>
  <div class="bar bar-footer bar-balanced">
    <div class="button-bar">
       <!-- <a class="button " ng-click="getPairedDevices()">蓝牙</a>
       <a class="button " ng-click="connect()">连接</a>
       <a class="button " ng-click="print()">打印</a>
       <a class="button " ng-click="selectModel()">模板</a> -->
    </div>
  </div>
</ion-view>