<ion-view view-title="Home">
  <ion-content class="padding">
    <div class="list">

      <div class="item item-input-inset">
        <button class="button button-small">
          标题
        </button>
        <label class="item-input-wrapper">
          <input type="text" ng-model="data.title">
        </label>
      </div>
      <div class="item item-input-inset">
        <button class="button button-small">
          描述
        </button>
        <label class="item-input-wrapper">
          <input type="text" ng-model="data.des">
        </label>
      </div>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" ng-model="data.deviceId">
        </label>
        <button class="button button-small" ng-click="setDeviceId()">
          设置设备id
        </button>
      </div>
      

    </div>
  </ion-content>
  <div class="bar bar-footer bar-balanced">
    <div class="button-bar">
       <a class="button " ng-click="startService()">开启服务</a>
       <a class="button " ng-click="stopService()">关闭服务</a>
    </div>
  </div>
</ion-view>